html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Abhaya Libre', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #ffccf2;
}

    .navbar-inverse .navbar-brand:hover {
        color: #b3b3ff;
    }

.navbar-inverse .navbar-nav > .active > a {
    background-color: #ffccf2;
    color: #00004d;
    border-radius: 20px;
}

    .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: #b3b3ff;
        color: #00384d;
    }

.navbar-inverse .navbar-brand span {
    color: #ffccf2;
    letter-spacing: 0.15em;
}

    .navbar-inverse .navbar-brand span:hover {
        color: #b3b3ff;
    }

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffccf2;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #00004d;
}

.navbar {
    background-color: #00004d;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 1.3em;
    min-height: 50px;
}

.navbar-inverse .navbar-nav li a {
    color: #ffccf2;
    border-radius: 20px;
    border-color: black;
}


    .navbar-inverse .navbar-nav li a:hover,
    .navbar-inverse .navbar-nav li a.active {
        color: #00004d;
        background-color: #b3b3ff;
    }


/*Styling for background*/
#home {
    background: url('../Images/blur-blurred-colors-938967.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

    .landing-text h1 {
        font-size: 500%;
        font-weight: 200;
        letter-spacing: 0.1em;
    }

    .landing-text h2 {
        font-size: 300%;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin-bottom: 60px;
    }

    .landing-text h3 {
        letter-spacing: 0.06em;
        font-size: 250%;
        font-weight: 200;
    }

    .landing-text a {
        letter-spacing: 0.05em;
        background-color: #ffccf2;
        border-color: #ffccf2;
        color: #00004d;
        margin-top: 1%;
        border-color: #00004d;
    }

        .landing-text a:hover {
            border-color: #00004d;
            color: #00004d;
        }

.padding {
    padding: 80px 0;
}

    .padding img {
        width: 100%;
    }


footer {
    width: 100%;
    height: 20%;
    background-color: #00004d;
    padding-top: 1%;
    color: #ffccf2;
}

    footer h3 {
        letter-spacing: 0.1em;
        font-weight: 200;
        padding: 0 0 0 1%;
    }

    footer h5 {
        letter-spacing: 0.2em;
    }

.fab {
    padding: 0 2% 0 2%;
    font-size: medium;
    color: #ffccf2;
}

    .fab:hover {
        color: #b3b3ff;
        text-decoration: none;
    }


span .far {
    font-size: 200px;
    color: #808080;
}

.far:hover {
    text-decoration: none;
}

.icon {
    max-width: 200px;
}



/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.department {
    padding-top: 8%;
    text-align: center;
    min-height: 80%
}

    .department h2 {
        font-size: 300%;
        letter-spacing: 0.1em;
        padding-bottom: 2%;
    }

    .department .table-container {
        padding: 0 20% 0 20%;
    }

    .department table tr th {
        text-align: center;
        letter-spacing: 0.05em;
        font-size: 1.5em;
    }

    .department table tr td {
        letter-spacing: 0.05em;
        font-size: 1.3em;
    }

        .department table tr td:hover {
            cursor: pointer;
        }
/*Dla strony specjalistów */
.doctor {
    padding-top: 8%;
    min-height: 80%;
    text-align: center;
}

    .doctor h2 {
        font-size: 300%;
        letter-spacing: 0.1em;
        padding: 2% 0 5% 0;
    }

    .doctor .table-container-doctor {
        padding: 0 20% 0 20%;
    }

    .doctor table tr th {
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 0.05em;
    }

    .doctor table tr td {
        letter-spacing: 0.05em;
        font-size: 1.3em;
    }

        .doctor table tr td:hover {
            cursor: pointer;
        }

.btn-primary {
    background-color: #ffccf2;
    color: #00004d;
    border-color: #00004d;
    border-radius: 20px;
}

    .btn-primary:hover {
        background-color: #00004d;
        color: #ffccf2;
        border-color: #ffccf2;
    }

.btn-info {
    background-color: #00004d;
    color: #ffccf2;
    border-color: #ffccf2;
    border-radius: 20px;
}

.btn-lg {
    margin: 10px 0 10px 0;
}

.btn-info:hover {
    background-color: #ffccf2;
    color: #00004d;
    border-color: #00004d;
}

.btn-info .active {
    background-color: #00004d;
    color: #ffccf2;
    border-color: #ffccf2;
    border-radius: 20px;
}


.appointment {
    padding-top: 8%;
    min-height: 80%;
    text-align: center;
}
    /*.appointment img{
    margin: 20% 0 20% 0; 
}*/

    .appointment h2 {
        font-size: 300%;
        letter-spacing: 0.1em;
        padding: 2% 0 5% 0;
    }

    .appointment .table-container-appointment {
        /*padding: 0 20% 0 20%;*/
        margin: 0 20% 0 20%;
    }


    .appointment table tr th {
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 0.05em;
    }

    .appointment table tr td {
        font-size: 1.3em;
        letter-spacing: 0.05em;
    }

        .appointment table tr td:hover {
            cursor: pointer;
        }

.managment {
    background: #1a1a1a;
    padding-top: 8%;
    min-height: 80%;
    text-align: center;
}

    .managment h2 {
        font-size: 300%;
        color: #f2f2f2;
        letter-spacing: 0.1em;
        padding: 3% 0 5% 0;
    }

    .managment h1 {
        color: #ffccf2;
        font-size: 200%;
    }

    .managment h5 {
        font-size: 150%;
        color: #f2f2f2;
        letter-spacing: 0.1em;
    }

    .managment .table-container-managment {
        padding: 1% 10% 5% 10%;
    }

    .managment table tr:hover {
        background-color: #00004d;
    }

    .managment table {
        color: #f2f2f2;
    }

        .managment table tr th {
            text-align: center;
            font-size: 1.2em;
            letter-spacing: 0.05em;
        }

        .managment table tr td {
            font-size: 1.2em;
            letter-spacing: 0.05em;
        }

            .managment table tr td:hover {
                cursor: pointer;
            }



.login-box {
    background: url(../Images/blur-blurred-colors-login.jpg);
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
    min-height: 80%;
}

.login-form {
    top: 50%;
    left: 50%;
    width: 40%;
    position: absolute;
    transform: translate(-50%,-50% );
    color: #1a1a1a;
    text-align: center;
    color: #00004d;
}

    .login-form h2 {
        font-size: 4em;
        letter-spacing: 0.1em;
    }

.form-group {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

    .form-group input {
        background: none;
        color: #00004d;
        border-color: #00004d;
        width: 20em;
    }

        .form-group input:hover {
            background: #ffccf2;
            color: #00004d;
            border-color: #00004d;
        }

.captcha-box {
    padding: 0 0.1em 0 0.1em;
    margin: 0.1em 0 0.1em 0;
}

.login-form a {
    color: #ffccf2;
}

.login-form p {
    margin-top: 6em;
}

.login-form hr {
    color: #ffccf2;
    margin-bottom: 4em;
}

.details {
    min-height: 80%;
    padding-top: 9%;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}

.details-cont {
    text-align: left;
}

.about {
    min-height: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    padding-top: 9%;
}

    .about h3 {
        font-size: 2em;
        padding: 1% 0 3% 0;
        letter-spacing: 0.1em;
    }

    .about p {
        padding-bottom: 2%;
        letter-spacing: 0.08em;
    }




/* Dla telefonów */
@media (max-width: 720px) {
    .landing-text h1 {
        font-size: 180%;
    }

    .landing-text h3 {
        font-size: 100%;
    }

    .landing-text a {
        margin-top: 2%;
    }

    footer {
        height: 30%;
        padding-bottom: 2%;
    }

        footer h3 {
            font-size: 14px;
            letter-spacing: 0em;
            font-weight: 200;
            padding: 0 0 0 1%;
        }

        footer h5 {
            font-size: 12px;
        }


    .doctor {
        padding-top: 35%;
        min-height: 70%;
    }

        .doctor h2 {
            font-size: 150%;
            padding: 2% 0 5% 0;
        }

        .doctor .table-container-doctor {
            padding: 0px;
        }

        .doctor table tr th {
            font-size: 12px;
            letter-spacing: 0em;
        }

        .doctor table tr td {
            letter-spacing: 0em;
            font-size: 12px;
        }

    .appointment {
        padding-top: 35%;
        min-height: 70%;
    }

        .appointment h2 {
            font-size: 150%;
            padding: 2% 0 5% 0;
        }

        .appointment h3 {
            font-size: 150%;
        }

        .appointment .table-container-appointment {
            margin: 0;
            padding: 0;
        }

        .appointment table tr th {
            font-size: 12px;
            letter-spacing: 0em;
        }

        .appointment table tr td {
            letter-spacing: 0em;
            font-size: 12px;
        }

    .department {
        padding-top: 20%;
        min-height: 70%;
    }

        .department h2 {
            font-size: 150%;
            padding: 2% 0 5% 0;
        }

        .department .table-container {
            margin: 0;
            padding: 0;
        }

        .department table tr th {
            font-size: 12px;
            letter-spacing: 0em;
        }

        .department table tr td {
            font-size: 12px;
            letter-spacing: 0em;
        }
}
