@model IEnumerable<auth.Models.Department>

@{
    ViewBag.Title = "Działy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="department">
    
    <h2>Wybierz dział psychologii</h2>
    
    <div class="table-container">
        <table class="table table-responsive table-striped table-hover table-bordered ">
            <tr>
                <th>
                    Nazwa działu
                </th>
                <th>
                    Czym się zajmuje
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Index", "Doctor", new { id = item.DepartmentId }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>