@{
    ViewBag.Title = "About";
}


<div class="about">
    
    <h3> O nas... </h3>

    <iframe width="900" height="600" src='https://dbdiagram.io/embed/5d9ce72eff5115114db50b47'> </iframe>

    <p>Diagram bazy danych kliniki</p>
</div>
