
@{
    ViewBag.Title = "Communicate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="appointment">

    <h2> Udało się! </h2>
    <h3>
        @TempData["reserved"]
    </h3>
    <img src="~/Images/happy.png" width="400" height="300" />

</div>

